.Favorites {
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

#light .Favorites__title {
  font-family: 'Roboto',sans-serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: black;
  margin: 60px 0;
  padding: 0;
}

#dark .Favorites__title {
  font-family: 'Roboto',sans-serif;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: rgba(245, 245, 245, 0.8);
  margin: 60px 0;
  padding: 0;
}

#light .Favorites__subtitle {
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0;
  padding: 0;
}

#dark .Favorites__subtitle {
  font-family: 'Roboto',sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: rgba(245, 245, 245, 0.8);
  margin: 40px 0;
  padding: 0;
}

.Favorites__places-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:1100px) {
  .Favorites__places-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width:900px) {
  .Favorites__places-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 50px;
  }
}

@media screen and (max-width:700px) {
  #light .Favorites__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 40px 0;
  }
  
  #dark .Favorites__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 40px 0;
  }

  #light .Favorites__subtitle {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  
  #dark .Favorites__subtitle {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .Favorites__places-container {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}

@media screen and (max-width:550px) {
  #light .Favorites__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 0;
  }
  
  #dark .Favorites__title {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 0;
  }

  .Favorites__places-container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}