.ItemToday {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.ItemToday__time {
  font-family: 'Roboto',sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 700;
  color: grey;
  margin: 0;
  padding: 0;
}

.ItemToday__icon {
  width: 60px;
  margin: 10px 0;
  padding: 0;
}

.ItemToday__tempreture {
  font-family: 'Roboto',sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: black;
  margin: 0;
  padding: 0;
}