.Search {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin: 60px auto;
  padding: 0;
}

#light .Search__input {
  width: 500px;
  display: inline-block;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #1A1B22;
  background-color: rgba(240, 240, 240, 0.7);
  padding-left: 24px;
  padding-right: 80px;
}

#dark .Search__input {
  width: 500px;
  display: inline-block;
  border-radius: 50px;
  border: none;
  outline: none;
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: rgba(245, 245, 245, 0.8);
  background-color: rgb(39, 46, 61);
  padding-left: 24px;
  padding-right: 80px;
}

.Search__input::placeholder {
  color:#9d9d9d ;
}

#light .Search__button {
  margin-left: -60px;
  border-radius: 50px;
  min-width: 120px;
  background-color: #5389e7;
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

#light .Search__button:hover {
  background-color:#347EFF;
}

#light .Search__button:active {
  background-color:#2A65CC;
}

#dark .Search__button {
  margin-left: -60px;
  border-radius: 50px;
  min-width: 120px;
  background-color: #2A65CC;
  color: white;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

#dark .Search__button:hover {
  background-color:#295aae;
}

#dark .Search__button:active {
  background-color:#214e9b;
}

@media screen and (max-width:1200px) {
  .Search {
    height: 56px;
    margin: 48px auto 48px;
  }
}

@media screen and (max-width:900px) {
  .Search {
    height: 56px;
    margin: 40px auto;
  }
}

@media screen and (max-width:770px) {
  .Search {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin: 40px 0;
    gap: 12px;
  }

  #light .Search__input {
    width: auto;
    padding: 17px 16px;
    margin: 0 50px;
  }

  #dark .Search__input {
    width: auto;
    padding: 17px 16px;
    margin: 0 50px;
  }

  #light .Search__button {
    width: 288px;
    height: 56px;
    margin: 0 auto;
  }

  #dark .Search__button {
    width: 288px;
    height: 56px;
    margin: 0 auto;
  }
}

@media screen and (max-width:550px) {
  .Search {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 12px;
  }

  #light .Search__input {
    width: auto;
    padding: 10px 15px;
    margin: 0 10px;
  }

  #dark .Search__input {
    width: auto;
    padding: 10px 15px;
    margin: 0 10px;
  }

  #light .Search__button {
    width: 150px;
    height: 45px;
    margin: 0 auto;
  }

  #dark .Search__button {
    width: 150px;
    height: 45px;
    margin: 0 auto;
  }
}
